@import "../../../common/styles/";

.navbar-container {
        display: none;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

    @include respond("sm") {
        height: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px 0 24px;
    }
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    -moz-box-pack: justify;
    -moz-box-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar-links li {
    margin: 0 8px;
}

.navbar-links li :hover {
    color: $blue;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

.logo {
    width: 40px;
    height: 40px;
    overflow: visible;
    color: $blue;
}

.logo :hover path {
    color: white;
    transition: ease-in-out 0.3s;

    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}