@import "../../../common/styles/";

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 24px 0 24px;

    @include respond("sm") {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 128px 0 128px;
    }
}

.portrait {
    width: 258px;
    height: 258px;
    border: 2px solid $blue;
    padding-bottom: 4px;
    padding-right: 4px;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

.portrait:hover {
    transform: scale(1.1);
    padding-bottom: 0px;
    padding-right: 0px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
}

.title {
    color: $blue;
    font-weight: 500;
    font-size: 20px;
}

.subtitle {
    color: $blue;
    font-size: 36px;
    font-weight: 700;
}

.text {
    color: $light-blue;
    font-weight: 500;
    font-size: 16px;
}

.list {
    color: $light-blue;
    font-weight: 500;
    font-size: 16px;
}