$body-color: #f8f8f2;
$font-family-sans-serif: "Inter", sans-serif;
$body-bg: #282a36;

$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;
$dracula-white: #f8f8f2;
$dracula-dark: #44475a;

$theme-colors: (
    "dracula-cyan": $dracula-cyan,
    "dracula-green": $dracula-green,
    "dracula-orange": $dracula-orange,
    "dracula-pink": $dracula-pink,
    "dracula-purple": $dracula-purple,
    "dracula-red": $dracula-red,
    "dracula-yellow": $dracula-yellow,
    "dracula-white": $dracula-white,
    "dracula-dark": $dracula-dark
);

$navbar-dark-color: $dracula-white;
$navbar-dark-hover-color: $dracula-pink;

$nav-tabs-link-active-color: $dracula-pink;
$nav-link-color: $dracula-white;
$link-hover-color: $dracula-pink;

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card {
    color: var(--bs-dracula-dark);
}

.navbar {
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
    background-color: $body-bg;
}

.name-font {
    font-family: 'Signika Negative';
    font-size: 35px;
    animation: pulse 10s infinite;
}

.nickname-font:hover {
    color: var(--bs-dracula-green);
}

@keyframes pulse {
	0% { 
        color: var(--bs-dracula-white);
    }
    50% { 
        color: var(--bs-dracula-pink);
    }
    100% { 
        color: var(--bs-dracula-white);
    }
}

.title-color {
    color: var(--bs-dracula-pink);
}

.cas_logo {
    opacity: .8;
}

.cas_logo:hover {
    opacity: 1;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Signika+Negative:wght@700&display=swap');